# Loops

   ## for

for item in object:
	run action on item

In [ ]:
# let's create a tuple and try to print it

In [1]:
x = (1,2,3,4,5,6,7)

In [2]:
x

(1, 2, 3, 4, 5, 6, 7)

In [3]:
# check the type of object

In [4]:
type(x)

tuple

In [5]:
for n in x:
    print(n)

1
2
3
4
5
6
7

In [6]:
# we create an object and for each element of the object we print a sentence together with the element

In [7]:
for n in x:
    print("this is the number ", n)

this is the number  1
this is the number  2
this is the number  3
this is the number  4
this is the number  5
this is the number  6
this is the number  7

In [ ]:
# we print the elements of a string

In [8]:
string1 = "example"

In [9]:
for s in string1:
    print(s)

e
x
a
m
p
l
e

In [10]:
for s in string1:
    print(s.capitalize())

E
X
A
M
P
L
E

In [11]:
for s in string1:
    print(s*5)

eeeee
xxxxx
aaaaa
mmmmm
ppppp
lllll
eeeee

In [ ]:
# we create a list containing pairs of elements:

In [11]:
list1 = [(5,7), (9,2), (2,3), (14,27)]

In [12]:
list1

[(5, 7), (9, 2), (2, 3), (14, 27)]

In [ ]:
# we want to print only the first element of each of the pairs:

In [14]:
for(el1, el2) in list1:
    print(el1)

5
9
2
14

In [15]:
for(el1, el2) in list1:
    print(el2)

7
2
3
27

In [ ]:
# we can also carry out operations on couples

In [17]:
for(el1, el2) in list1:
    print(el1 + el2)

12
11
5
41

In [ ]:
# on dictionaries

In [12]:
dict1 = {"k1":1, "k2": 2, "k3": 3}

In [13]:
for key, value in dict1.items():
    print("the key value " + str(  key  ) + " is " + str(  value  ))

the key value k1 is 1
the key value k2 is 2
the key value k3 is 3

In [ ]:
# we can also print the single key or the only value

In [23]:
for key, value in dict1.items(): print(key)

k1
k2
k3

In [24]:
for key, value in dict1.items(): print(value)

1
2
3

## while

In [26]:
x = 1

In [27]:
x

1

In [29]:
while x < 5:
    print(x)
    x = x + 1

In [30]:
x

5

In [ ]:
# nb: don't run
# x = 1
# while x < 2:
#       print(x)

In [14]:
y = 1

In [15]:
y

1

In [16]:
while y < 10:
    print("the y value is " , y)
    y = y + 1

the y value is  1
the y value is  2
the y value is  3
the y value is  4
the y value is  5
the y value is  6
the y value is  7
the y value is  8
the y value is  9

## continue e break

In [ ]:
# continue

In [35]:
# we create a list

In [21]:
list1 = ['item1', 'item2', 'item3', 'cat', 'item4', 'item5']

In [22]:
# we create a for loop that prints each items in the list

In [23]:
for item in list1:
    if item in list1:
        if item == 'cat':
            continue
        print(item)

item1
item2
item3
item4
item5

In [20]:
# the for loop must skip the element that is unlike the others, to get this result we get continuous
# in practice 'skipping’ the element

In [24]:
for item in list1:
    if item in list1:
        if item == 'cat':
            break
        print(item)

item1
item2
item3