## range()

In [ ]:
# we create a list of numbers from 1 to 49 (included)

In [2]:
list1 = range(1, 50)

In [3]:
list1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [ ]:
# check the object type

In [4]:
type(list)

type

In [5]:
list2 = range(30, 45)

In [6]:
list2

[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [ ]:
# if we do not specify the lower but only the upper limit, the list will start at 0:

In [7]:
list3 = range(14)

In [8]:
list3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
# adding a range

In [11]:
list4 = range(20, 40, 3)

In [12]:
list4

[20, 23, 26, 29, 32, 35, 38]

In [ ]:
# this way we can for example create lists for odd or even numbers

In [13]:
range(0, 10, 2)

[0, 2, 4, 6, 8]

In [14]:
range(1, 10, 2)

[1, 3, 5, 7, 9]

In [ ]:
# also a range between two objects

In [16]:
x = 17
y = 39

In [18]:
x

17

In [19]:
y

39

In [20]:
range(x, y)

[17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38]

In [ ]:
# for example, instead of passing an object in the for loop, we pass a list created with range()

In [21]:
for el in range(1, 10): print el

1
2
3
4
5
6
7
8
9