[![alt](http://www.datawiring.me/wp-content/uploads/2017/03/Data-Wiring-PNG-e1491132384711.png)](http://www.datawiring.me)

#  pandas - le serie

In [1]:
# we import pandas

In [2]:
import pandas

In [3]:
# pandas.function_name

In [4]:
import pandas as pd

In [5]:
# pd.function_name

In [6]:
# let's import only structures

In [7]:
from pandas import Series, DataFrame

In [8]:
# pd. or pandas.

In [9]:
# let's create a first series

In [10]:
series1 = Series([25, 27, 28, 30],
          index = ["student1", "student2", "student3", "student4"])

In [11]:
# print the series

In [12]:
print(series1)

student1    25
student2    27
student3    28
student4    30
dtype: int64

In [13]:
# we use the .describe() function to get some statistical information on the series

In [14]:
series1.describe()

count     4.000000
mean     27.500000
std       2.081666
min      25.000000
25%      26.500000
50%      27.500000
75%      28.500000
max      30.000000
dtype: float64

In [9]:
# let us look at the first element of the series

In [15]:
series1[0]

25

In [16]:
series1[[2,3]]

student3    28
student4    30
dtype: int64

In [17]:
series1["student1"]

25

In [18]:
series1[["student1", "student4"]]

student1    25
student4    30
dtype: int64

In [19]:
series1.index

Index(['student1', 'student2', 'student3', 'student4'], dtype='object')

In [22]:
'student2' in series1

True

In [23]:
'student104' in series1

False

In [24]:
series2 = pd.Series([40, 20, 35, 70],
          index = ["price1", "price2", "price3", "price4"])

In [25]:
series2

price1    40
price2    20
price3    35
price4    70
dtype: int64

In [26]:
series3 = Series([25, 27, 28, 30])

In [27]:
series3

0    25
1    27
2    28
3    30
dtype: int64

In [ ]:
# to replace some of the elements in a series we use the .replace method

In [28]:
series3.replace([25, 27], [125, 127])

0    125
1    127
2     28
3     30
dtype: int64

In [29]:
import numpy as np

In [30]:
series4 = pd.Series(np.random.randn(7))

In [31]:
series4

0   -2.318495
1    1.298870
2   -1.146930
3    0.386806
4    0.061543
5    0.020775
6   -0.312103
dtype: float64

In [32]:
series4.index = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [33]:
series4

a   -2.318495
b    1.298870
c   -1.146930
d    0.386806
e    0.061543
f    0.020775
g   -0.312103
dtype: float64

In [34]:
# we create another series of random numbers

In [35]:
series5 = pd.Series(np.random.randn(7))

In [36]:
series5

0    0.960230
1    0.866445
2   -1.574522
3   -0.883716
4   -0.200047
5   -0.127204
6    0.512170
dtype: float64

In [37]:
s45 = pd.concat([series4, series5])

In [38]:
s45

a   -2.318495
b    1.298870
c   -1.146930
d    0.386806
e    0.061543
f    0.020775
g   -0.312103
0    0.960230
1    0.866445
2   -1.574522
3   -0.883716
4   -0.200047
5   -0.127204
6    0.512170
dtype: float64

In [39]:
# let's verify the structure

In [40]:
type(s45)

pandas.core.series.Series

In [41]:
# we try to remove some elements of the series

In [42]:
del(s45[5])

In [43]:
s45

a   -2.318495
b    1.298870
c   -1.146930
d    0.386806
e    0.061543
f    0.020775
g   -0.312103
0    0.960230
1    0.866445
2   -1.574522
3   -0.883716
4   -0.200047
6    0.512170
dtype: float64

In [44]:
del(s45['f'])

In [45]:
s45

a   -2.318495
b    1.298870
c   -1.146930
d    0.386806
e    0.061543
g   -0.312103
0    0.960230
1    0.866445
2   -1.574522
3   -0.883716
4   -0.200047
6    0.512170
dtype: float64

In [46]:
# we see how to slice some elements from the series

In [47]:
s45[0]

0.9602302636118948

In [48]:
s45[2:4]

c   -1.146930
d    0.386806
dtype: float64

In [49]:
# as we have seen for other structures, for example, we can perform object slicing up to the fourth position

In [50]:
s45[:4]

a   -2.318495
b    1.298870
c   -1.146930
d    0.386806
dtype: float64

In [51]:
# or from the fifth onwards

In [52]:
s45[5:]

g   -0.312103
0    0.960230
1    0.866445
2   -1.574522
3   -0.883716
4   -0.200047
6    0.512170
dtype: float64

In [53]:
# or we can extract the last three items

In [54]:
s45[-3:]

3   -0.883716
4   -0.200047
6    0.512170
dtype: float64

In [55]:
# we can extract the first and last elements even with the .head() and .tail() methods

In [56]:
s45.head(2)

a   -2.318495
b    1.298870
dtype: float64

In [57]:
s45.tail(3)

3   -0.883716
4   -0.200047
6    0.512170
dtype: float64

In [58]:
# the next notation allows us to reverse the series

In [59]:
s45[::-1]

6    0.512170
4   -0.200047
3   -0.883716
2   -1.574522
1    0.866445
0    0.960230
g   -0.312103
e    0.061543
d    0.386806
c   -1.146930
b    1.298870
a   -2.318495
dtype: float64

In [60]:
# or we can create a copy of the series with the .copy() method

In [61]:
copys45 = s45.copy()

In [62]:
copys45

a   -2.318495
b    1.298870
c   -1.146930
d    0.386806
e    0.061543
g   -0.312103
0    0.960230
1    0.866445
2   -1.574522
3   -0.883716
4   -0.200047
6    0.512170
dtype: float64