In [4]:
import pandas as pd

In [6]:
df = pd.DataFrame({'Names': ['Simon', 'Kate', 'Francis', 'Laura', 'Mary', 'Julian', 'Rosie'],
        'Height':[180, 165, 170, 164, 163, 175, 166],
        'Weight':[85, 65, 68, 45, 43, 72, 46],
        'Pref_food':['steak', 'pizza', 'pasta', 'pizza', 'vegetables','steak','seafood'],
        'Sex':['m', 'f','m','f', 'f', 'm', 'f']})

In [7]:
print(df)

   Height    Names   Pref_food Sex  Weight
0     180    Simon       steak   m      85
1     165     Kate       pizza   f      65
2     170  Francis       pasta   m      68
3     164    Laura       pizza   f      45
4     163     Mary  vegetables   f      43
5     175   Julian       steak   m      72
6     166    Rosie     seafood   f      46

In [8]:
df.describe()

           Height     Weight
count    7.000000   7.000000
mean   169.000000  60.571429
std      6.377042  16.154021
min    163.000000  43.000000
25%    164.500000  45.500000
50%    166.000000  65.000000
75%    172.500000  70.000000
max    180.000000  85.000000

In [9]:
print(df.describe().transpose())

        count        mean        std    min    25%    50%    75%    max
Height    7.0  169.000000   6.377042  163.0  164.5  166.0  172.5  180.0
Weight    7.0   60.571429  16.154021   43.0   45.5   65.0   70.0   85.0

In [1]:
# median

In [10]:
df['Height'].median()

166.0

In [ ]:
# mean

In [11]:
df['Height'].mean()

169.0

In [2]:
# min value

In [12]:
df['Height'].min()

163

In [3]:
# max value

In [14]:
df['Height'].max()

180

In [16]:
df['Height'].std()

6.377042156569663

In [17]:
df['Height'].skew()

1.0041142164832479

In [18]:
df['Height'].kurt()

-0.26541252351518452