# Tuples

In [ ]:
# we create a first example of tuple

In [2]:
t1 = (1,2,3,4,5)

In [ ]:
# we interrogate with the type() function on which object type we created

In [3]:
type(t1)

tuple

In [ ]:
# we create another tuple

In [28]:
t2 = ("a", "b", "c", "d")

In [5]:
type(t2)

tuple

In [ ]:
# we extract the first element of tuple t2

In [6]:
t2[0]

'a'

In [9]:
t2[1]

'b'

In [ ]:
# to count the elements of a tuple, we do not start from one, but from zero, so to extract "a", which is the first element, we use square brackets for slicing, and between the squares insert the zero number

In [ ]:
# we can also use the minus to extract the elements of a tuple counting from the bottom

In [10]:
t2[-1]

'd'

In [11]:
t2[-2]

'c'

In [ ]:
# we can extract more than one element using the colon

In [14]:
t2[1:3]

('b', 'c')

In [ ]:
# operator in

In [15]:
'a' in t2

True

In [16]:
'z' in t2

False

In [ ]:
# we try to replace an element of a tuple

In [17]:
t2['a'] = 15

TypeError: 'tuple' object does not support item assignment

In [ ]:
# methods

In [18]:
dir(t2)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [21]:
t2.count

In [ ]:
# add some items

In [29]:
t2 = t2.__add__(('xyz',))

In [30]:
t2

('a', 'b', 'c', 'd', 'xyz')

In [ ]:
# tuples containing more types of objects

In [31]:
t3 = (1,2,3,4,5, "test", 20.75, "string2")

In [32]:
t3

(1, 2, 3, 4, 5, 'test', 20.75, 'string2')