# Lists

In [1]:
list1 = ["jan", "feb", "mar", "apr"]

In [2]:
list1

['jan', 'feb', 'mar', 'apr']

In [3]:
type(list1)

list

In [5]:
list2 = ["one", 25, True]

In [6]:
list2

['one', 25, True]

In [8]:
type(list2)

list

In [ ]:
# select some items from a list

In [9]:
list1[0]

'jan'

In [10]:
list1[-2]

'mar'

In [12]:
# if we insert a position that does not match any item in the list, we get an error

In [13]:
len(list1)

4

In [14]:
list1[7]

IndexError: list index out of range

In [15]:
# we can select some items from a list

In [16]:
list1

['jan', 'feb', 'mar', 'apr']

In [17]:
list1[1:]

['feb', 'mar', 'apr']

In [18]:
list1[:3]

['jan', 'feb', 'mar']

In [ ]:
# multiply a list

In [19]:
list1*2

['jan', 'feb', 'mar', 'apr', 'jan', 'feb', 'mar', 'apr']

In [ ]:
# create a new list by combining two lists

In [20]:
list3 = list1 + list2

In [22]:
list3

['jan', 'feb', 'mar', 'apr', 'one', 25, True]

In [23]:
list1

['jan', 'feb', 'mar', 'apr']

In [ ]:
# or even extract some items and save them to another list object. In this case we are talking about slicing

In [24]:
list4 = list3[2:6]

In [25]:
list4

['mar', 'apr', 'one', 25]

In [ ]:
# we can also delete an item from a list

In [27]:
del list1[1]

In [28]:
list1

['jan', 'apr']

In [ ]:
# by typing the dir() function with a list, we can see all the operations we can do on that list

In [29]:
dir(list1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

Let us see some of the most important:

	⁃	append() adds elements to our list
	⁃	clear() removes all items in a list
	⁃	copy() makes a copy of the list
	⁃	extend() combine two lists
	⁃	insert() adds an item to a specific location in the list
	⁃	pop() removes an item from the list
	⁃	remove() removes an item from a specific location of the list

In [30]:
list3

['jan', 'feb', 'mar', 'apr', 'one', 25, True]

In [ ]:
# we can add an element with the append() method

In [31]:
list3.append(7)

In [32]:
list3

['jan', 'feb', 'mar', 'apr', 'one', 25, True, 7]

In [ ]:
# reverse the order of the list items with .reverse()

In [33]:
list3.reverse()

In [34]:
list3

[7, True, 25, 'one', 'apr', 'mar', 'feb', 'jan']

In [ ]:
# delete the last element with pop()

In [35]:
list3.pop()

'jan'

In [36]:
list3

[7, True, 25, 'one', 'apr', 'mar', 'feb']

In [ ]:
# reorder items of a list in ascending order with sort()

In [37]:
list5 = [100, 12, 45, 67, 89, 7, 19]

In [38]:
list5.sort()

In [39]:
list5

[7, 12, 19, 45, 67, 89, 100]

In [ ]:
# extend a list with another list with the extend() method

In [40]:
list5.extend([260, 35, 98, 124])

In [41]:
list5

[7, 12, 19, 45, 67, 89, 100, 260, 35, 98, 124]

In [ ]:
# finally, we can also delete items in a list with the clear method

In [42]:
list5.clear()

In [43]:
list5

[]

In [ ]:
# we can also create lists that contain sub lists

In [44]:
list6 = [(5,7), (9,2), (2,3), (14,27)]

In [45]:
list6

[(5, 7), (9, 2), (2, 3), (14, 27)]

In [ ]:
# in this case, select the third element of the list6 object

In [46]:
list6[2]

(2, 3)

In [ ]:
# we want to select only the second element of the third element of list6:

In [48]:
list6[2][1]

3

In [ ]:
# the range function() will create a list of numbers from 1 to 19:

In [49]:
list7 = range(20)

In [ ]:
# let's verify the object type

In [50]:
type(list7)

range

In [ ]:
# we print the object

In [52]:
print(list7)

range(0, 20)