# Immutability

In [ ]:
# we create a list

In [2]:
list1 = ["jan", "feb", "mar", "apr"]

In [ ]:
# check the type of object

In [4]:
type(list1)

list

In [5]:
list1

['jan', 'feb', 'mar', 'apr']

In [ ]:
# check the ID of the created list

In [6]:
id(list1)

4360343240

In [ ]:
# we add an element

In [7]:
list1.append("oct")

In [ ]:
# we reprint the list

In [8]:
list1

['jan', 'feb', 'mar', 'apr', 'oct']

In [ ]:
# check the ID again

In [9]:
id(list1)

4360343240

In [ ]:
# as you can see, the ID is identical

In [ ]:
# instead, we create a tuple, which is an immutable object

In [10]:
tuple1 = (1,2,3,4)

In [ ]:
# check the object class

In [11]:
type(tuple1)

tuple

In [ ]:
# the ID

In [14]:
id(tuple1)

4360643752

In [15]:
tuple1

(1, 2, 3, 4)

In [ ]:
# let's try to add an item

In [13]:
tuple1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# we recreate the tuple that also contains the last object

In [16]:
tuple1 = (1,2,3,4,5)

In [ ]:
# reprint

In [17]:
tuple1

(1, 2, 3, 4, 5)

In [ ]:
# verify the ID

In [18]:
id(tuple1)

4360381808

In [1]:
# as we see, we did not overwrite the first object, but we created a second object with the same name (the first tuple1 object will no longer be available)

In [ ]:
# we create a string

In [20]:
string1 = "a b c d e f g"

In [21]:
string1

'a b c d e f g'

In [ ]:
# let's replace the item “a” with “x”

In [22]:
string1[0] = 'x'

TypeError: 'str' object does not support item assignment

In [ ]:
# as you can see we are returned an error