# Converting formats

In [ ]:
# let us create some objects

In [3]:
tupla1 = (1,2,3,4,5)
list1 = ["jan", "feb", "mar", "apr"]
string1 = "2017"
int1 = 67

In [ ]:
# check the type of objects

In [4]:
type(tupla1)

tuple

In [5]:
type(list1)

list

In [6]:
type(string1)

str

In [7]:
type(int1)

int

In [2]:
# list() converts, for example, a tuple to a list

In [8]:
convt1 = list(tupla1)

In [ ]:
# it is necessary to save the result to a new object. We do it and check the type again

In [9]:
type(convt1)

list

In [ ]:
# list to tuple

In [10]:
conv_to_list = tuple(list1)

In [11]:
type(conv_to_list)

tuple

In [ ]:
# string to int

In [12]:
conv_to_int = int(string1)

In [14]:
type(conv_to_int)

int

In [17]:
conv_to_int

2017

In [ ]:
# list()
# tuple()
# int()